/* CSS Document */

/******************************
[Table of Contents]
1. Fonts
2. 320 px
    2.1. General stuff
    2.2. Loading page
    2.3. Data Dashboard Container
        2.3.1. Left navigation bar
        2.3.2. Information container
3. 768 px
    3.1. Data of students
4. 1024 px
    4.1. General stuff
    4.2. Data dashboard container
        4.2.1. Left navigation bar
        4.2.2. Information container

******************************/

/* 1. FONTS */

@import url('https://fonts.googleapis.com/css?family=Bitter|Open+Sans:800');
/* 2. 320 px */

@media only screen and (min-width: 320px) {
    /* 2.1. General stuff */
    body {
        color: #2b2b2b;
        font-family: 'Open Sans:400', sans-serif;
        font-weight: 100;
        font-size: 16px;
        line-height: 145%;
        margin: 0;
    }
    h1,
    h2,
    h3,
    h4 {
        text-transform: uppercase;
        font-family: 'Bitter', serif;
    }
    h1 {
        margin: 16px 0 0 0;
        color: #999999;
        font-size: 1.0rem;
        font-weight: 700;
        line-height: 1.35417em;
        text-transform: uppercase;
        display: block;
    }
    h2 {
        font-size: 0.98rem;
    }
    h3,
    h4 {
        color: rgba(0, 0, 0, 0.87);
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.8em;
        margin: 0;
        display: block;
    }
    h4 {
        font-size: 0.86rem;
    }
    p {
        color: rgba(0, 0, 0, 0.87);
        font-size: 0.875rem;
        font-weight: 100;
        line-height: 1.46429em;
        margin: 0;
        display: block;
    }
    .line {
        background-color: rgba(0, 0, 0, 0.12);
        height: 1px;
        margin: 0;
        border: none;
        flex-shrink: 0;
    }
    select:focus {
        outline: none;
    }
    /* 2.2. Loading page */
    .logo-loading {
        width: 100%;
        background-color: #56f89a;
        text-align: center;
        vertical-align: middle;
    }
    .logo-loading img {
        width: 320px;
        height: 80px;
        max-width: 500px;
    }
    .loading {
        height: 50%;
        width: 50%;
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 90px;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .loading img {
        width: 97%;
        height: 97%;
    }
    /* 2.3. Data dashboard container */
    .root {
        display: none;
    }
    .column {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        left: 0;
        right: auto;
        top: 0;
        height: 65px;
        display: flex;
        z-index: 1200; /* posicion del elemento */
        position: fixed;
        box-shadow: none;
        background-color: #fff;
        width: 100%;
    }
    /* 2.3.1. Left navigation bar */
    .left-bar {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .logo-container {
        width: 100%;
        display: flex; /* elemento flexible */
        position: relative;
        box-sizing: border-box;
        text-align: left;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
    }
    .logo {
        height: 64px;
        margin: auto;
        display: block;
    }
    .left-nav-bar {
        display: none;
    }
    .menu {
        cursor: pointer;
    }
    /* User information */
    .user-information {
        padding: 24px 16px;
        background-color: #fafafa;
        width: 100%;
        display: flex;
        position: relative;
        box-sizing: border-box;
        text-align: left;
        align-items: center;
    }
    .user-img {
        width: 50px;
        height: 50px;
        display: flex;
        position: relative;
        border-radius: 50%;
    }
    .user-data {
        padding: 0 16px;
        min-width: 0;
    }
    .user-data p {
        color: rgba(0, 0, 0, 0.54);
    }
    /* Campuses container */
    .campuses-container {
        text-transform: uppercase;
        font-family: 'Bitter', serif;
        font-weight: 100;
        font-size: 1rem;
        padding: 12px 16px 12px 16px;
        width: 100%;
        display: none;
        position: relative;
        text-align: left;
        color: inherit;
        border: 0;
        margin: 0;
        cursor: pointer;
        outline: none;
    }
    .item-container {
        padding: 12px 16px 12px 16px;
        width: 100% !important;
        display: flex;
        position: relative;
        text-align: left;
        color: inherit;
        border: 0;
        margin: 0;
        cursor: pointer;
    }
    .item-container:hover {
        width: 320px;
        background-color: rgba(0, 0, 0, 0.08);
    }
    .item-img {
        fill: currentColor;
        width: 24px;
        height: 24px;
        display: inline-block;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        flex-shrink: 0;
        -moz-user-select: none;
        color: rgba(0, 0, 0, 0.54);
        margin-right: 16px;
    }
    .item {
        flex: 1 1 auto;
        padding: 0 16px;
        min-width: 0;
    }
    .sign-off {
        width: 100%;
        bottom: 0;
        position: absolute;
    }
    .sign-off .item-container {
        background-color: #fafafa;
    }
    /* 2.3.2. Information of DATA DASHBOARD */
    .information-container {
        margin-left: 0px;
        margin-top: 100px;
        padding: 36px;
        width: auto;
        /* min-height: 100vh; */
    }
    .tittle-container {
        width: 100%;
        color: rgba(0, 0, 0, 0.87);
        background-color: #ffe521;
        top: 65px;
        left: auto;
        right: 0;
        position: fixed;
        display: flex;
        z-index: 1100;
    }
    .tittle {
        padding-left: 24px;
        padding-right: 24px;
        /* min-height: 64px; */
        min-height: 30px;
    }
    /* Search and sort container */
    .search-sort {
        width: 100%;
        box-shadow: none;
        color: rgba(0, 0, 0, 0.87);
        top: 114px;
        left: auto;
        right: 0;
        position: fixed;
        display: flex;
        z-index: 1100;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 48px;
        background-color: #fafafa;
        padding: 5px 3%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
    .search-container {
        width: 90%;
        margin: 0.5% 0.3% 0.5% 0.3%;
        height: 30px;
    }
    .search-container form a {
        width: 6%;
        cursor: pointer;
    }
    .search-container form input {
        width: 90%;
        border: none;
        background-color: #fafafa;
        height: 30px;
    }
    .sort-container {
        width: 10%;
        margin: 0.5% 0.3% 0.5% 0.3%;
        height: 30px;
        text-align: right;
        display: inline-block;
    }
    .sort-img {
        width: 30px;
        cursor: pointer;
    }
    /* Open sort container */
    #open-sort-container {
        text-align: center;
        padding: 11px;
        display: none;
        height: auto;
        width: 100%;
        box-shadow: none;
        top: 162px;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 1100;
        box-sizing: border-box;
        flex-shrink: 0;
        flex-direction: column;
        background-color: #fafafa;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .sort-container select {
        width: 45%;
        border: none;
        background-color: #56f89a;
        height: 30px;
    }
    .sort-direction-container {
        font-size: 12px;
        margin-top: 10px;
    }
    .order-direction {
        text-align: center;
    }
    .order-direction input {
        margin: .4rem;
    }
    /* Subtittle */
    .subtittle-container {
        display: flex;
        margin-top: 40px;
        align-items: center;
        justify-content: space-between;
    }
    /* Video */
    .video {
        width: 90%;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 162px;
        text-align: center;
    }
    .video video {
        width: 90%;
        height: 90%;
    }
    /* Data of students */
    .data-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .students-container {
        width: 85%;
    }
    .container {
        margin: 5%;
        padding: 5%;
        background-color: #fafafa;
        width: 100%;
        border: 0.5px solid #666666;
    }
}
/* 4. 768 px */
@media only screen and (min-width: 768px) {
    /* 3.1. Data of students */
    .container {
        width: 100%;
    }
    .container-info {
        display: inline-block;
        width: 40%;
    }
    .container-info h1 {
        margin: 0;
    }
    .container-score {
        float: right;
        display: inline-block;
        width: 60%;
    }
    .container-score-info {
        display: inline-block;
        width: 33%;
        vertical-align: top;
    }
    /* h1 {
        font-size: 1.31rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3,
    h4 {
        font-size: 0.98rem;
    }
    h4 {
        font-size: 1.0rem;
    }
    .column {
        height: 100vh !important;
        width: 230px;
    }
    .left-bar {
        width: 230px;
    }
    .left-nav-bar {
        display: block !important;
    }
    .menu {
        display: none;
    }
    .information-container {
        margin-left: 230px;
        margin-top: 53px;
    }
    .tittle-container {
        width: calc(100% - 230px);
        top: 0;
    }
    .tittle {
        min-height: 64px;
    }
    .search-sort {
        width: calc(100% - 230px);
        top: 63.5px;
    }
    .search-container form input {
        width: 93%;
        border: none;
        background-color: #fafafa;
    }
    #open-sort-container{
        top: 112px;
    }
    .container {
        width: 100%;
    }
    .container-info {
        display: inline-block;
        width: 40%;
    }
    .container-score {
        display: inline-block;
        width: 60%;
    }
    .container-score-info {
        display: inline-block;
        width: 33%;
    } */
}
/* 4. 1024 px */
@media only screen and (min-width: 1024px) {
    /* 4.1. General stuff */
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3,
    h4 {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 1.0rem;
    }
    /* 4.2. Data dashboard container */
    .column {
        height: 100vh !important;
        width: 320px;
    }
    /* 4.2.1. Left navigation bar */
    .left-bar {
        width: 320px;
    }
    .left-nav-bar {
        display: block !important;
    }
    .menu {
        display: none;
    }
    /* 4.2.2. Information of DATA DASHBOARD */
    .information-container {
        margin-left: 320px;
        margin-top: 53px;
    }
    .tittle-container {
        width: calc(100% - 320px);
        top: 0;
    }
    .tittle {
        min-height: 64px;
    }
    /* Search and sort container */
    .search-sort {
        width: calc(100% - 320px);
        top: 63.5px;
    }
    .search-container form input {
        width: 93%;
        border: none;
        background-color: #fafafa;
    }
    #open-sort-container {
        top: 112px;
        left: 320px;
        width: calc(100% - 320px);
    }
    /* Video */
    .video {
        left: 320px;
        width: calc(100% - 320px);
    }
}